<%- include('layouts/header.ejs') %>
    
    <br>

    <!-- Start of title -->
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="text-center">EDUCATION</h1>
            </div>
        </div>
    </div>
    <!-- End of title -->

    <hr>

    <!-- End of title -->

    <!-- Start of university -->
    <div class="container">
        <div class="row">
            <div class="col-4 text-center">
                <h3><strong>Texas A&M University - San Antonio</strong></h3>
                <img src="img/education/TAM.png" alt="tamusa" width="80%">
            </div>
            <div class="col-4 text-center my-auto">
                <h5>Bachlors of Science in Computer Science</h5>
                <p class="educationp">Transferred on May 2020</p>
                <p>IN PROGRESS...</p>
            </div>
            <div class="col-4 text-center my-auto">
                <img src="img/gif/marioY.gif" alt="yoshi" width="50%">
            </div>
        </div>
    </div>
    <!-- End of university -->

    <hr>

    <!-- Start of community college -->
    <div class="container">
        <div class="row">
            <div class="col-4 text-center">
                <h3><strong>San Antonio College</strong></h3>
                <img src="img/education/SAC.png" alt="sac" width="80%">
            </div>
            <div class="col-4 text-center my-auto">
                <h5>Information Technology and Security Certification</h5>
                <p class="educationp">Graduated on May 2018</p>
                <br>
                <h5>Associate of Science</h5>
                <p class="educationp">Graduated on May 2020</p>
            </div>
            <div class="col-4 text-center my-auto">
                <img src="img/gif/sonicR.gif" alt="sonic" width="50%">
            </div>
        </div>
    </div>
    <!-- End of community college -->

    <hr>

    <!-- Start of high school -->
    <div class="container">
        <div class="row">
            <div class="col-4 text-center">
                <h3><strong>Southside High School</strong></h3>
                <img src="img/education/SSH.png" alt="ssh" width="80%">
            </div>
            <div class="col-4 text-center my-auto">
                <h5>High School Diploma</h5>
                <p class="educationp">Graduated on May 2018</p>
            </div>
            <div class="col-4 text-center my-auto">
                <img src="img/gif/marioS.gif" alt="star" width="50%">
            </div>
        </div>
    </div>
    <!-- End of high school -->

    <hr>
    
<%- include('layouts/footer.ejs') %>