<%- include('layouts/header.ejs') %>

    <br>

    <!-- Start of title -->
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="text-center">EXPERIENCE</h1>
            </div>
        </div>
    </div>
    <!-- End of title -->

    <hr>

    <!-- Start of tutor -->
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h3><strong>Texas A&M University - San Antonio</strong></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-4 text-center">
                <img class="img-thumbnail" src="img/experience/tamusa.png" alt="tamusa" width="60%">
            </div>
            <div class="col-4">
                <br>
                <ul>
                    <li>
                        <p>Assisting during in-class labs</p>
                    </li>
                    <li>
                        <p>Aiding in homework assignments</p>
                    </li>
                    <li>
                        <p>Helping students understand programming concepts</p>
                    </li>
                </ul>
            </div>
            <div class="col-4 text-center my-auto">
                <h5>Decemeber 2021 - Present</h5>
            </div>
        </div>
    </div>
    <!-- End of tutor -->

    <hr>

    <!-- Start of tech store -->
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h3><strong>SAC Tech Store</strong></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-4 text-center">
                <img src="img/experience/alamo.png" alt="tamusa" width="60%">
            </div>
            <div class="col-4">
                <br>
                <ul>
                    <li>
                        <p>Repaired computer software/hardware</p>
                    </li>
                    <li>
                        <p>Technical support</p>
                    </li>
                    <li>
                        <p>Experience with entriprise software</p>
                    </li>
                </ul>
            </div>
            <div class="col-4 text-center my-auto">
                <h5>March 2019 - December 2021</h5>
            </div>
        </div>
    </div>
    <!-- End of tech store -->

    <hr>

    <!-- Start of bookkeeping -->
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h3><strong>BlueBird Produce</strong></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-4 text-center">
                <img src="img/experience/bird.png" alt="tamusa" width="60%">
            </div>
            <div class="col-4">
                <br>
                <ul>
                    <li>
                        <p>Maintained multiple venders</p>
                    </li>
                    <li>
                        <p>Technical support</p>
                    </li>
                    <li>
                        <p>Handled payroll</p>
                    </li>
                </ul>
            </div>
            <div class="col-4 text-center my-auto">
                <h5>August 2018 - March 2019</h5>
            </div>
        </div>
    </div>
    <!-- End of bookkeeping -->

    <hr>

    <!-- Start of gif -->
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <img src="img/gif/bitB.gif" alt="bit brain" width="10%">
            </div>
        </div>
    </div>
    <!-- End of gif -->
    
<%- include('layouts/footer.ejs') %>