<%- include('layouts/header.ejs') %>

    <br>

    <!-- Start of title -->
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="text-center">PROJECTS</h1>
            </div>
        </div>
    </div>
    <!-- End of title -->

    <hr>

    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-3 card p-3" style="width: 18rem;">
                <img src="img/project/chat.png" class="card-img-top" alt="chat party">
                <div class="card-body d-flex flex-column">
                  <h5 class="card-title text-center">Chat Party</h5>
                  <p class="card-text">This iOS app will allow users to create/join chat parties, that will only keep messages for that session.</p>
                  <a href="https://github.com/seabassr/Chat-Party" class="btn btn-primary d-flex justify-content-center mt-auto">Github</a>
                </div>
            </div>

            <div class="col-3 card p-3" style="width: 18rem;">
                <img src="img/project/cipher.png" class="card-img-top" alt="chat party">
                <div class="card-body d-flex flex-column">
                  <h5 class="card-title text-center">Ceasar Cipher</h5>
                  <p class="card-text">CaesarCipher.py will require either plain or encrypted message in the plaintext field.</p>
                  <a href="https://github.com/seabassr/Caesar_Cipher" class="btn btn-primary d-flex justify-content-center mt-auto">Github</a>
                </div>
            </div>

            <div class="col-3 card p-3" style="width: 18rem;">
                <img src="img/project/socket.png" class="card-img-top" alt="chat party">
                <div class="card-body d-flex flex-column">
                  <h5 class="card-title text-center">ChatBox</h5>
                  <p class="card-text">Server.py will display the users currently in the server, and will handle broadcasting messages to all users. Client.py will require the user to type in public IP address to server, and will try to connect.</p>
                  <a href="https://github.com/seabassr/ChatBox" class="btn btn-primary d-flex justify-content-center mt-auto">Github</a>
                </div>
            </div>

            <div class="col-3 card p-3" style="width: 18rem;">
                <img src="img/project/tic.png" class="card-img-top" alt="chat party">
                <div class="card-body d-flex flex-column">
                  <h5 class="card-title text-center">Tic Tac Toe</h5>
                  <p class="card-text">A fun simple game of tic-tac-toe, with a colorful UI.</p>
                  <a href="https://github.com/seabassr/Tic-Tac-Toe" class="btn btn-primary d-flex justify-content-center mt-auto">Github</a>
                </div>
            </div>
        </div>
    </div>

    <br>

    <!-- Start of gif -->
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <img src="img/gif/bitH.gif" alt="bit heart" width="10%">
            </div>
        </div>
    </div>
    <!-- End of gif -->
    
<%- include('layouts/footer.ejs') %>